p.mapping_main {
  margin: 0 0 0.5rem 0;
}

.mapping_found {
  color: var(--accent);
  float: right;
}

p > mark {
  float: right;
}

#loadfile {
  display: none;
}

#loaded_file {
  padding-left: 1rem
}

aside {
  padding: 0;
}

details.named_mappings {
  border: none;
  margin: 0;
  background-color: #EDFFE5;
}

.named_mappings p {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.named_mappings input {
  padding: 0;
  width: 100%;
  margin: 0 0 0 0.5rem;
}

.named_mappings table {
  margin: 0;
}

.named_mappings td {
  border: none;
  padding: 0;
  font-size: 0.8rem;
}

.named_mappings > label.button {
  font-size: 0.8rem;
}

.named_mappings > summary {
  padding: .5rem .9rem;
}

p.controls {
  margin: 0;
}

label.button {
  padding: .5rem .9rem;
}

#output.notice {
  border: 1px solid var(--border);
}

.readme {
  background-color: #eee;
}

#add_mapping.button  {
  padding: 0.1rem 0;
  width: 100%;
  text-align: center;
}