p.mapping_main {
  margin: 0 0 0.5rem 0;
}

.mapping_found {
  color: var(--accent);
  float: right;
}

p > mark {
  float: right;
}

#loadfile {
  display: none;
}

#loaded_file {
  font-style: italic;
  padding-left: 1rem
}